<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading"></h2>
                <p class="text-faded"></p>
                <a href="https://www.certmetrics.com/amazon/public/badge.aspx?i=1&t=c&d=2018-08-31&ci=AWS00576174"><img src="img/aws.jpg"></a>
                <p class="text-faded"></p>
                <h2 <p class="text-faded">Phillip  Albert Bailey</p></h2>
                <h4 <p class="text-faded">Director and Principal Consultant</p></h4>
                <p class="text-faded">AWS Certified Solutions Architect and DevSecOps consultant with 20 years of experience at the foretront of innovative technology
                across different sectors rangin from Defense, Financial Services, Retail and Media.</p>
            </div>
        </div>
    </div>
</section>
